

#FileTab_idle{
    -fx-background-image: url("/GLSLEditor/Images/TabIdle.png");

}


#FileTab_hover{
    -fx-background-image: url("/GLSLEditor/Images/TabHover.png");

}


#FileTab_selected{
    -fx-background-image: url("/GLSLEditor/Images/TabSelected.png");

}

#FileTab_exitidle{
    -fx-background-image: url("/GLSLEditor/Images/ExitIdle.png");

}

#FileTab_exithover{
    -fx-background-image: url("/GLSLEditor/Images/ExitHover.png");
}


#FileTabText_saved{

}

#FileTabText_unsaved{
    -fx-font-weight: bold;
}

#ProjectTab_noproject{
    -fx-opacity: 30%;

}



#ProjectTab_no{
    -fx-opacity: 50%;

}


#ProjectTab_hover{
    -fx-background-color: #b9b9b9;

}


#ProjectTab_yes{
    -fx-font-weight: bold;
    -fx-opacity: 100%;
}

#ProjectTab_unsavedProject{
 -fx-opacity: 100%;
  -fx-font-weight: bold;
}

#ProjectTab_savedProject{
     -fx-opacity: 50%;
}