

#FileTab_idle{
    -fx-background-color: #d6d6d6;

}


#FileTab_hover{
    -fx-background-color: #b9b9b9;

}


#FileTab_selected{
    -fx-background-color: #969696;

}

#FileTabText_saved{

}

#FileTabText_unsaved{
    -fx-font-weight: bold;
}

#ProjectTab_noproject{
    -fx-opacity: 30%;

}



#ProjectTab_no{
    -fx-opacity: 50%;

}


#ProjectTab_hover{
    -fx-background-color: #b9b9b9;

}


#ProjectTab_yes{
    -fx-font-weight: bold;
    -fx-opacity: 100%;
}

#ProjectTab_unsavedProject{
 -fx-opacity: 100%;
  -fx-font-weight: bold;
}

#ProjectTab_savedProject{
     -fx-opacity: 50%;
}