
.scalar{
    -fx-fill: #2d56ff;


}

.algebratype{
    -fx-fill: #beaa70;

}

.comment{
    -fx-fill: #79be95;

}

.error{
    -fx-underline: true;


}

.keyword{
 -fx-fill: #2d56ff;
}

.defaultvariable{
    -fx-fill: #cc5200;
}

.variable{
    -fx-fill: #99003d;
}


.defaultfunction{
    -fx-fill: #DD0CF0;
}

.function{
    -fx-fill: #DE7300;
}

.preprocessor{
    -fx-fill: #BABABA
}

