
.scalar{
    -fx-fill: #2d56ff;


}

.algebratype{
    -fx-fill: #beaa70;

}

.comment{
    -fx-fill: #79be95;

}

.error{
    -fx-underline: true;


}

.keyword{
 -fx-fill: #2d56ff;
}

.variable{
    -fx-fill: #ff6600;
}